.border {
    height: 1px;
    border: 1px solid #33323D;
    opacity: 0.15;

    margin-bottom: 45px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-1 {
    margin-bottom: 48px;
}

.titulo h1 {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
}

.titulo-info {
    display: flex;
    flex-direction: column;

    width: 635px;
}

.titulo-info p {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 30px;
    opacity: 0.8;
}

.titulo-imagens img{
    margin-right: 15px;
}

.contato-form {
    display: flex;
    flex-direction: column;
}

.contato-form label{
    font-size: 13px;
    line-height: 30px;
    opacity: 0.8;
}

.contato-form button {
    all: unset;
    cursor: pointer;
    box-sizing: border-box;

    height: 48px;
    width: 200px;

    text-align: center;

    font-family: 'Public Sans', sans-serif;
    font-weight: 400;

    background-color: #203A4C;
    color: #FFF;
}

.contato-form button:hover {
    background-color: #5FB4A2;
}

.input-type {
    margin-bottom: 24px;
}

.input-type input{
    all: unset;
    cursor: text;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    color: black;
    background-color: rgb(51, 50, 61, 0.1);
    padding-left: 5px;
}

.input-type input:focus {
    border: 2px solid black;
}

.input-type-1 input{
    width: 635px;
    height: 48px;
}

.input-type-2 input {
    width: 635px;
    height: 96px;   

    padding-bottom: 60px;
}
